<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miscourse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.example.miscourse.activity.PlayHistoryActivity"></activity>
        <activity android:name="com.example.miscourse.activity.VideoPlayActivity" />
        <activity android:name="com.example.miscourse.activity.VideoListActivity" />
        <activity android:name="com.example.miscourse.activity.ExercisesDetailActivity" />
        <activity android:name="com.example.miscourse.activity.ChangeUserInfoActivity" />
        <activity android:name="com.example.miscourse.activity.UserInfoActivity" />
        <activity android:name="com.example.miscourse.activity.FindPwdActivity" />
        <activity android:name="com.example.miscourse.activity.UpdatePwdActivity" />
        <activity android:name="com.example.miscourse.activity.SettingActivity" />
        <activity android:name="com.example.miscourse.activity.LoginActivity" />
        <activity android:name="com.example.miscourse.activity.RegisterActivity" />
        <activity android:name="com.example.miscourse.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.miscourse.MainActivity"
                android:exported="true"
                />
<!--        为了能加载export-->
<!--        android:exported="true"-->
    </application>

</manifest>